.wrap {

}
.header {
background-color: lightgrey;
width: 100%;
height: 70px;
padding: 10px 0px 10px 20px;
}
.small-blue {
	background-color: blue;
	width: 50px;
	height: 50px;
	
}
.text {
text-align: center;
padding: 30px 20px 30px 20px;
}



.one {
	background-color: white;
	width: 100%;
	height: 200px;

}

.two {
background-color: blue;
width: 100%;
	height: 125px;
}
.three {
	background-color: cyan;
	width: 100%;
	height: 125px;
	
}
.four {
	width: 100%;
	height: 125px;
	background-color: lightgreen;
	
}
.five {
	width: 100%;
	height: 125px;
	background-color: yellow;
}

