

.main {
		background-color: #ccc;
}
.header {
	width: 100%;
	height: 100px;
	background-color: darkgray;
}


.middle {
	width:80%;
	height: 100vh;
	margin-left: 150px;
	margin-right: 150px;
	background-color: white;
}

.bottom {
	width: 80%;
	background-color: darkgray;
	height: 100px;
	margin-left: 150px;
	margin-right: 150px;

}